@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lexend';
  src: url('assets/Lexend-VariableFont_wght.ttf');
}

@layer utilities {
  :root {
    --primary-color: #39072F;
    --dark-transparent: #ffffff13;
    --accent-color: #F798F2;
    --background-color: #F5F5F5;
    --dimmed-text: #ffffffb3;
  }

  body {
    font-family: 'Lexend';
    font-weight: 200;
  }


  .bg-primary {
    background-color: var(--primary-color);
  }

  .dark-transparent {
    background-color: var(--dark-transparent);
  }

  .bg-accent {
    background-color: var(--primary-color);
  }

  .bg-color {
    background-color: var(--primary-color);
  }

  .dimmed-text {
    background-color: var(--primary-color);
  }

  .text-primary{
    color: var(--primary-color);
  }
  
  .text-accent{
    color: var(--accent-color);
  }

  .transparent-placeholder::placeholder {
    color: rgba(255, 255, 255, 0.20
    );
  }
}