@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lexend';
  src: url('assets/Lexend-VariableFont_wght.ttf');
}

@layer utilities {
  :root {
    --primary-color: #39072F;
    --primary-color-transparent: rgb(57, 7, 47,.5);

    --dark-transparent: #ffffff13;

    --accent-color: #F798F2;
    --accent-color-transparent: #f798f263;
    --accent-color-dark: #f885f2;

    --background-color: #F5F5F5;
    --dimmed-text: #ffffffb3;

    --bg-login-primary: rgb(57, 7, 47, .8);
    --bg-login-accent: rgb(169, 40, 163, .8);
  }

  body {
    font-family: 'Lexend';
    font-weight: 300;
  }


  .bg-primary {
    background-color: var(--primary-color);
  }
  
  .bg-primary-transparent {
    background-color: var(--primary-color-transparent);
  }

  .dark-transparent {
    background-color: var(--dark-transparent);
  }

  .bg-accent {
    background-color: var(--accent-color);
  }
  
  .bg-accent-transparent {
    background-color: var(--accent-color-transparent);
  }

  .bg-accent:hover {
    background-color: var(--accent-color-dark);
  }

  .dimmed-text {
    background-color: var(--primary-color);
  }

  .text-primary {
    color: var(--primary-color);
  }

  .text-accent {
    color: var(--accent-color);
  }

  .transparent-placeholder::placeholder {
    color: rgba(255, 255, 255, 0.20);
  }

  .light-placeholder::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  .border-primary {
    border-color: var(--primary-color);
  }

  .border-accent-transparent {
    border-color: var(--accent-color-transparent);
  }

  #auth-page {
    background:
      linear-gradient(var(--bg-login-primary),
        var(--bg-login-accent) 50%,
        var(--bg-login-primary)),
      url("../public/bg-login-base.svg");
    background-size: cover;
  }

  @media (min-width: 765px) {
    #auth-page {
      background:
        radial-gradient(circle at center,
          var(--bg-login-accent),
          var(--bg-login-primary) 50%
          ),
        url("../public/bg-login-base.svg");
      background-size: cover;
    }

  }

}